/*--------------------------------------*/
/*        Top Image, Background         */
/*--------------------------------------*/

.imgbackgroud {
    position: absolute;
    background-color: #aaa;
    background-image: url(../Images/R2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    z-index: 1;
    
    bottom: 0px;
    right: 0px;
    
}


/*--------------------------------------*/
/*          Text Logo, Button           */
/*--------------------------------------*/

.ImgBackground-Content {
    display: flex;
    position: relative;
    flex-direction: column;
    
    width: 35vw;
    
    margin-top: 15vh;
    margin-left: 32.5vw;
    
    
}

@media (max-width: 45em) {
    .ImgBackground-Content {
        width: 45vw;
        margin-top: 15vh;
        margin-left: 27.5vw;
    
    
    }
}

#GetStaredButton {
    margin: 30px;
    
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    background-image: linear-gradient(144deg,#9c6efa,#2a4858);
    border: 0;
    border-radius: 50px;
    
    max-width: 100%;
    min-width: 170px;
    
    padding: 6px;
    
    cursor: pointer;
    
    font-size: 20px;
    -webkit-box-shadow: 2px -2px 57px 11px rgba(0,0,0,0.36); 
    box-shadow: 3px -3px 25px 5px rgba(0,0,0,0.36);
    
    /*
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    */
}

#GetStaredButton:active,
#GetStaredButton:hover {
    outline: 0;
}

#GetStaredButton span {
    background-color: rgb(5, 6, 45);
    padding: 15px 24px;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

#GetStaredButton:hover span {
    background: none;
}

@media (min-width: 768px) {
  #GetStaredButton {
      font-size: 24px;
      min-width: 196px;
  }
}


/*--------------------------------------*/
/*           Links / Headers            */
/*--------------------------------------*/

.Header-Links,
.Header-Links-Light {
    text-decoration: none;
    font-weight: 700
}
a.Header-Links {
    color: black;
}
a.Header-Links-Light {
    color: white;
}


/*--------------------------------------*/
/*               Content                */
/*--------------------------------------*/

.content-group {
    position: relative;
    display:  ;
    background-color: #fff;
    
    top: calc(100vh);
    
    
    bottom: 0vh;
    
    padding-top: 10px;
}
.content {
    
}


/*--------------------------------------*/
/*                Footer                */
/*--------------------------------------*/

.footer {
    background-color: #aaa;
    
}
